<?xml version="1.0" encoding="utf-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutCoversAnnotation="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true"
        failOnWarning="true"
        failOnRisky="true"
        verbose="false"
        bootstrap="vendor/autoload.php"
        enforceTimeLimit="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
    >
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
    </php>

    <testsuites>
        <testsuite name="Test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
